<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>Калькулятор</title>
    <style>
        body {
            background-color: #f5f5f5;
        }
        th, td {
            color: #000000;
        }
        h1 {
            color: #000647;
            font-family: "American Typewriter";
        }
        h4 {
            color: #000647;
            font-family: "American Typewriter";
        }
    </style>
</head>
<body>
    <div class="pl-2">
        <h1> Калькулятор пользователя "{{ user }}" </h1>
        <h1> {{test}} </h1>
        <form action="/calc" method="POST" >
            {% csrf_token %}
            <h4>{{form.first.label}}: {{form.first}}</h4>
            <h4>{{form.second.label}}: {{form.second}}</h4>
            <input type="submit" value="Submit">
        </form>
        <br>
        <h4>{{first}} + {{second}} = {{result}}</h4>
    </div>

    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>First</th>
                <th>Second</th>
                <th>Result</th>
                <th>Date</th>
                <th>Author</th>
                <th>Delete</th>
            </tr>
        </thead>
        {% for item in history %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.first}}</td>
            <td>{{item.second}}</td>
            <td>{{item.result}}</td>
            <td>{{item.date}}</td>
            <td>{{item.author}}</td>
            <td><form action="/calc" method="GET">
                <button type="submit" name="delete" value="{{item.id}}">Delete</button>
            </form>
            </td>

        </tr>
        {% endfor %}
    </table>

</body>
</html>